@charset "UTF-8";

body {
  margin: 0;
}

.hero {
  background: lightgray;
  height: 300px;
  padding-top: 100px;
  margin-bottom: 64px;
}

h1 {
  font-weight: normal;
  padding-bottom: 80px;
  text-align: center;
}

.hero p {
  padding-bottom: 12px;
  text-align: center;
}

h2 {
  font-weight: normal;
  width: 150px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background: #000;
  color: #fff;
  border-radius: 5px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  text-align: center;
  padding-bottom: 64px;
}

.project {
  display: flex;
  width: 900px;
  gap: 64px;
  margin: 64px auto;
  padding-bottom: 64px;
}

.contact {
  text-align: center;
  margin-bottom: 200px;
}

.contact h2 {
  margin-bottom: 64px;
}

@media (max-width: 600px) {
  .project {
    display: block;
    width: 500px;
    margin: 0 auto; 
  }
  .image {
    padding: 40px;
  }
  .infomation {
    text-align: center;
  }
}